body {
	background: linear-gradient(to bottom, #87a8c3, #dfe9f3);
	min-height: 100vh;
	font-family: 'Segoe UI', sans-serif;
	margin: 0; /* убираем дефолтные браузерные отступы */
	padding: 1.5rem 2rem; /* внутренние отступы */
	box-sizing: border-box; /* чтобы padding не ломал ширину */
}

.navbar.is-light {
	border: 2px solid #dbdbdb; /* светло-серая рамка */
	border-radius: 8px; /* скруглённые углы */
	margin-bottom: 1rem; /* отступ снизу */
	padding: 0.5rem 1rem; /* внутренние отступы */
}

section {
	border: 2px solid #dbdbdb; /* рамка */
	border-radius: 8px;
	padding: 1rem;
	margin-bottom: 1.5rem; /* отступ между блоками */
	background: #fff; /* фон */
}
